{% block form_row %}
{% spaceless %}
    <div class="field">
        {{ form_label(form, null, { 'label_attr' : { 'class' : 'label' }}) }}
        <div class="control">
            {{ form_widget(form, { 'attr' : { 'class': 'input'}}) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% for error in errors %}
            <p class="help is-danger">{{ error.message }}</p>
        {% endfor %}
    {% endspaceless %}
{% endblock form_errors %}

{% block textarea_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class':'textarea'}) %}
        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block choice_widget %}
    {% spaceless %}

        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {% if multiple %}
                <div class="select is-fullwidth is-multiple">
                    {{ block('choice_widget_collapsed') }}
                </div>
            {% else %}
                <div class="select is-fullwidth">
                    {{ block('choice_widget_collapsed') }}
                </div>
            {% endif %}
        {% endif %}

    {% endspaceless %}
{% endblock choice_widget %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% if type == 'range' or type == 'color' %}
        {%- set required = false -%}
    {% endif %}

    {% if type == "file" %}
        {% set attr = attr|merge({'class':'file-input'}) %}

        {% set randId = "fileName" ~ random() %}

        <div class="file has-name is-fullwidth">
            <label class="file-label">
                <input type="{{ type }}" onchange="updateFileName{{ randId }}(this.files)" {{ block('widget_attributes') }}/>
                <span class="file-cta">
                    <span class="file-icon">
                    <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                    Choose a file…
                    </span>
                </span>
                <span class="file-name" id="{{ randId }}"></span>
            </label>
        </div>
        <script>
            updateFileName{{ randId }} = function(files){
                var fileName = "";

                if(files.length > 1) {
                    fileName = files.length + " {{ 'files selected'|trans }}";
                } else if(files.length > 0) {
                    fileName = files[0].name;
                }

                document.getElementById('{{ randId }}').innerHTML = fileName;
            };
        </script>
    {% else %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}

{% endblock form_widget_simple %}

{%- block choice_widget_expanded -%}
    {% set attr = attr|merge({'class':''}) %}
    <div {{ block('widget_container_attributes') }}>
        {% for name, choices in form.vars.choices %}
            {% if choices is iterable  %}
                <label class="label">{{ choice_translation_domain is same as(false) ? name|capitalize : name|trans({}, choice_translation_domain)|capitalize }}</label>
                <div class="columns is-multiline">
                    {% for key,choice in choices %}
                        <div class="column is-one-third-mobile is-one-quarter-tablet is-one-fifth-desktop">
                            <div class="field">
                                <div class="control">
                                    {{ form_widget(form[key]) }}&nbsp;
                                    {{ form_label(form[key]) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {{- form_widget(form[name]) -}}
                {{- form_label(form[name], null, {translation_domain: choice_translation_domain}) -}}
            {% endif %}
        {% endfor %}
    </div>
{%- endblock choice_widget_expanded -%}

{% block checkbox_widget -%}
    {% set attr = attr|merge({'class':''}) %}
    <input type="checkbox" {{ block('widget_attributes') }}
    {% if value is not empty %}value="{{ value }}" {% endif %}
    {% if checked %} checked="checked" {% endif %} />
{%- endblock checkbox_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else %}
        {% set attr = attr|merge({class: 'columns'|trim}) %}
        {% if datetime is not defined or not datetime %}
            <div {{ block('widget_container_attributes') }}>
        {% endif %}
        {{- date_pattern|replace({
            '{{ year }}': '<div class="column">' ~ form_widget(form.year) ~ '</div>',
            '{{ month }}': '<div class="column">' ~ form_widget(form.month) ~ '</div>',
            '{{ day }}': '<div class="column">' ~ form_widget(form.day) ~ '</div>',
        })|raw -}}
        {% if datetime is not defined or not datetime %}
            </div>
        {% endif %}
    {% endif %}
{%- endblock date_widget %}