@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$primary: #363636;

$family-sans-serif: 'Open Sans', sans-serif;

$fa-font-path: "./webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

@import "../node_modules/bulma/bulma.sass";

@mixin getMixin($name) {
  @if($name==mobile) {
      @include mobile {
          @content;
      }
  }
  @if($name==tablet) {
      @include tablet {
          @content;
      }
  }
  @if($name==desktop) {
      @include desktop {
          @content;
      }
  }
  @if($name==widescreen) {
      @include widescreen {
          @content;
      }
  }
  @if($name==fullhd) {
      @include fullhd {
          @content;
      }
  }
}

$spaces: (50, 30, 25, 20, 15, 10, 5, 0);
$sides: (top, bottom, left, right);
$screens: (mobile, tablet, desktop, widescreen, fullhd);

@each $space in $spaces {
    $spaceTmp: $space/10;
    .has-padding-#{$space} {
        padding: #{$spaceTmp}rem !important;
    }
    .has-margin-#{$space} {
        margin: #{$spaceTmp}rem !important;
    }
    @each $screen in $screens {
        @include getMixin($screen) {
            .has-padding-#{$space}-#{$screen} {
                padding: #{$spaceTmp}rem !important;
            }
            .has-margin-#{$space}-#{$screen} {
                margin: #{$spaceTmp}rem !important;
            }
        }
    }
    @each $side in $sides {
        .has-padding-#{$side}-#{$space} {
            padding-#{$side}: #{$spaceTmp}rem !important;
        }
        .has-margin-#{$side}-#{$space} {
            margin-#{$side}: #{$spaceTmp}rem !important;
        }
        @each $screen in $screens {
            @include getMixin($screen) {
                .has-padding-#{$side}-#{$space}-#{$screen} {
                    padding-#{$side}: #{$spaceTmp}rem !important;
                }
                .has-margin-#{$side}-#{$space}-#{$screen} {
                    margin-#{$side}: #{$spaceTmp}rem !important;
                }
            }
        }
    }
}

$opacity: (90, 80, 70, 50, 30, 25, 20, 15, 10);

@each $opacityTmp in $opacity {
    .has-opcity-#{$opacityTmp} {
        opacity: #{$opacityTmp / 100};
    }
}

.notifications-fixed {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  top: $navbar-height;
}

.notifications-fixed > .notification {
  margin: 1em;
}

.actions-fixed {
  position: fixed;
  bottom: 1em;
  z-index: 1;
}

.actions-fixed.is-right {
    right: 1em;
}

/* PATCH BUTTON */

.button.is-circle {
  -webkit-border-radius: 9999999px;
  -moz-border-radius: 9999999px;
  border-radius: 9999999px;
}

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../images/background5.jpg);
  background-position: top center;
  background-size: cover;
}

.is-centered {
  justify-content: center;
}

#map {
  z-index: 1;
}

// sticky
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: calc(#{$navbar-height} + 2em);
}

.sb-breadcrumb > .sb-breadcrumb-item > .sb-breadcrumb-icon:after {
    border-width: 0 4px 0 0;
    border-style: solid;
    content: " ";
    display: block;
    height: 100%;
    width: 1px;
    border-color: rgba($primary, 0.7);
    z-index: 0;
    margin-left: calc(50% - 2px);
    margin-top: -.5em;
}

.sb-breadcrumb > .sb-breadcrumb-item:last-child > .sb-breadcrumb-icon:after {
    display: none;
}