{% trans_default_domain 'FOSUserBundle' %}

<h3 class="title has-text-primary">{{'Login'|trans}}</h3>
<p class="subtitle has-text-white">{{'Please login to proceed.'|trans}}</p>
<div class="box">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}

        <div class="field">
            <div class="control">
                <label class="label" for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" class="input" value="{{ last_username }}" required="required" autocomplete="username" />
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="label" for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" class="input" required="required" autocomplete="current-password" />
            </div>
        </div>

        <div class="field">
            <label class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                {{ 'security.login.remember_me'|trans }}
            </label>
        </div>

        <input type="submit" id="_submit" name="_submit" class="button is-fullwidth is-primary" value="{{ 'security.login.submit'|trans }}" />
    </form>
</div>