{% extends 'base.html.twig' %}

{% block title %}{{ 'Full stack web developper and project manager'|trans }}{% endblock %}
{% block description %}{{ 'Passionate full stack web developer producing high quality responsive and robust web applications at Mulhouse'|trans }}.{% endblock %}


{% block base %}
    <section class="hero is-fullheight-with-navbar" id="contact">
        <div class="hero-head has-padding-top-20">
            <div class="container has-text-centered">
                <h2 class="title">{{ 'Contact me' | trans }}</h2>
            </div>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-mobile is-multiline is-centered is-vcentered">
                    <div class="column is-12-mobile is-8-tablet is-8-desktop is-8-fullhd has-margin-bottom-20">
                        <div class="card">
                            <div class="card-image">
                                <div id="map" class="image is-16by9"></div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12-mobile is-4-tablet is-4-desktop is-4-fullhd">
                        <div class="sticky">
                            <p>
                                <a id="resetMap">
                                    <span class="icon">
                                    <i class="fas fa-location-arrow"></i>
                                    </span>
                                    {{ 'personnal city' | trans }}
                                </a>
                            </p>
                            <br>
                            <p>
                                <a href="tel:0033672498943">
                                    <span class="icon">
                                    <i class="fas fa-phone"></i>
                                    </span>
                                    {{ '0672498943' | trans }}
                                </a>
                            </p>
                            <br>
                            <p>
                                <a href="mailto:samuel.bucher@outlook.fr">
                                    <span class="icon">
                                    <i class="fas fa-at"></i>
                                    </span>
                                    {{ 'samuel.bucher@outlook.fr' | trans }}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            {% include 'footer.html.twig' %}
        </div>
    </section>

{% endblock %}



{% block javascripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <script>
        $(function () {
            var mymap = L.map('map').setView([47.747053, 7.338253], 10);
            var marker = L.marker([47.747053, 7.338253]).addTo(mymap);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiZWxmYWlibGF0b3IiLCJhIjoiY2pvbGV5M2V3MDl6cTN3dXVuZWZjajVudCJ9.ptk6jP0zScdgL_dk8HSw-g'
            }).addTo(mymap);

            $('#resetMap').click(function (){
                mymap.setView([47.8015872, 7.1005606], 10);
            });

        });

    </script>
{% endblock %}
