{% extends 'base.html.twig' %}

{% block title %}{{ 'Full stack web developper and project manager'|trans }}{% endblock %}
{% block description %}{{ 'Passionate full stack web developer producing high quality responsive and robust web applications at Mulhouse'|trans }}.{% endblock %}


{% block base %}
    <!-- Welcome -->
    <section class="hero is-dark background is-fullheight-with-navbar" id="top">
        <div class="hero-body">
        </div>
        <div class="hero-footer">
            <div class="container has-text-centered has-padding-20 has-margin-bottom-30">
                <h1 class="title has-margin-bottom-20">
                    {{ 'Samuel BUCHER'|trans }}
                </h1>
                <h2 class="subtitle">
                    {{ 'Web developper, project manager'|trans }}
                </h2>
                <div class="has-margin-top-20">
                    <a class="button is-info is-outlined is-medium" href="#about">
                        {{ 'Learn more' | trans }}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About me -->
    <section class="hero is-light" id="about">
        <div class="hero-head has-padding-top-20">
            <div class="container has-text-centered">
                <h2 class="title">{{ 'About me' | trans }}</h2>
            </div>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                <p>{{ 'About me text' |trans}}</p>
            </div>
        </div>
    </section>

    <!-- projects -->
    <section class="hero" id="projects">
        <div class="hero-head has-padding-top-20">
            <div class="container has-text-centered">
                <h2 class="title">
                    {{ 'Recent projects'|trans }}
                </h2>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-multiline is-centered">
                    {% for project in projects %}
                        <div class="column is-6-mobile is-4-tablet is-4-desktop is-4-fullhd">
                            <a href="{{ path('project_show', {'project': project.id}) }}">
                                {% if project.images|length %}
                                    <div class="card">
                                        {% set image = project.images[0] %}
                                        <div class="card-image">
                                            <figure class="image">
                                                <img src="{{ asset(image.file) }}" alt="{{ image.alternative }} - {{ project.title }}">
                                            </figure>
                                        </div>
                                    </div>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="hero-footer has-padding-bottom-20 has-text-centered">
            <div class="container">
                <a class="button is-info is-outlined is-medium" href="{{ path('project_index') }}">
                    {{ 'View all projects'|trans }}
                </a>
            </div>
        </div>
    </section>

    <!-- work -->
    {% if experiences | length > 0 %}
        <section class="hero is-light" id="work">
            <div class="hero-head has-padding-top-20">
                <div class="container has-text-centered">
                    <h2 class="title">{{ 'Work experiences' | trans }}</h2>
                </div>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered sb-breadcrumb">
                    {% for experience in experiences %}
                        <div class="columns is-mobile is-multiline is-centered sb-breadcrumb-item">

                            <div class="column is-hidden-mobile is-1-tablet is-1-desktop is-1-widescreen is-1-fullhd sb-breadcrumb-icon">
                                <span class="icon is-medium">
                                    <i class="fas fa-2x fa-circle"></i>
                                </span>
                            </div>

                            <div class="column is-hidden-mobile is-2-tablet is-2-desktop is-2-widescreen is-2-fullhd">
                                {% set month = { 'month': experience.start|date('m'), 'limit': 3 } %}
                                {% include 'home/month.html.twig' with month only %}
                                {{ experience.start | date('Y') }}
                                <br/>{% set month2 = { 'month': experience.end|date('m'), 'limit': 3 } %}
                                {% include 'home/month.html.twig' with month2 only %}
                                {{ experience.end | date('Y') }}
                            </div>

                            <div class="column is-12-mobile is-9-tablet is-9-desktop is-9-widescreen is-9-fullhd has-text-left has-margin-bottom-10">
                                <!-- tablet -->
                                <div class="has-margin-bottom-10 is-hidden-mobile">
                                    <h3 class="title is-5 is-pulled-left">{{ experience.position }}</h3>
                                    <span class="is-pulled-right has-text-right">{{ experience.company|nl2br }}</span>
                                    <div class="is-clearfix">
                                    </div>
                                </div>

                                <!-- mobile -->
                                <div class="has-margin-bottom-10 is-hidden-tablet">
                                    <h3 class="title is-5">{{ experience.position }}</h3>
                                    <p class="has-text-right">{{ experience.company|nl2br }}</p>
                                    <p class="has-text-right">
                                        {% set month = { 'month': experience.start|date('m'), 'limit': 3 } %}
                                        {% include 'home/month.html.twig' with month only %}
                                        {{ experience.start | date('Y') }}
                                        {% set month2 = { 'month': experience.end|date('m'), 'limit': 3 } %}
                                        {% include 'home/month.html.twig' with month2 only %}
                                        {{ experience.end | date('Y') }}
                                    </p>
                                </div>
                                
                                <p>{{ experience.description|nl2br }}</p>
                                <p><i>{{ experience.skills }}</i></p>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- skills -->
    <section class="hero" id="skills">
        <div class="hero-head has-padding-top-20">
            <div class="container has-text-centered">
                <h2 class="title">{{ 'Training' | trans }}</h2>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-multiline is-centered">
                    {% for training in trainings %}
                        <div class="column is-12-mobile is-5-tablet is-5-desktop is-4-fullhd">
                            <div class="card">
                                <div class="card-content">
                                    <h3 class="title is-5">
                                        <span></span>
                                        {{ training.name }}
                                    </h3>
                                    <p class="has-text-right">
                                        {{ training.school }}, {{ training.location }}
                                    </p>
                                    <p class="has-text-right">
                                        {{ training.start | date('Y') }} -
                                        {{ training.end | date('Y') }}
                                    </p>
                                    <p class="has-margin-top-10"><i>{{ training.skills }}</i></p>
                                </div>
                            </div>
                        
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="hero" id="skills">
        <div class="hero-head has-padding-top-20">
            <div class="container has-text-centered">
                <h2 class="title">{{ 'Skills' | trans }}</h2>
            </div>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-mobile is-multiline is-centered">
                    {% for skillGroup in skillGroups %}
                        <div class="column is-12-mobile is-5-tablet is-5-desktop is-4-fullhd">
                            <div class="card">
                                <div class="card-content">
                                    <h3 class="title is-5">{{ skillGroup.name }}</h3>

                                    {% for skill in skillGroup.skills %}
                                        <div class="columns is-mobile has-margin-bottom-0">
                                            <div class="column has-text-left is-6-mobile ">
                                                {{ skill.name|nl2br }}
                                            </div>
                                            <div class="column has-text-right is-6-mobile">
                                                {% for i in range(1, skill.level) %}
                                                    {% if loop.first %}
                                                        <span class="icon has-text-info has-opcity-50">
                                                            <i class="fas fa-star"></i>
                                                        </span>
                                                    {% else %}
                                                        <span class="icon has-text-info">
                                                            <i class="fas fa-star"></i>
                                                        </span>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% include 'footer.html.twig' %}
{% endblock %}



{% block javascripts %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <script>
        $(function () {
            var mymap = L.map('map').setView([47.747053, 7.338253], 10);
            var marker = L.marker([47.747053, 7.338253]).addTo(mymap);

            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiZWxmYWlibGF0b3IiLCJhIjoiY2pvbGV5M2V3MDl6cTN3dXVuZWZjajVudCJ9.ptk6jP0zScdgL_dk8HSw-g'
            }).addTo(mymap);

            $('#resetMap').click(function (){
                mymap.setView([47.747053, 7.338253], 10);
            });

        });

    </script>
{% endblock %}
