{% if month == 1 %}
    {{ 'January'|trans|slice(0, limit) }}.
{% elseif month == 2 %}
    {{ 'February'|trans|slice(0, limit) }}.
{% elseif month == 3 %}
    {{ 'March'|trans|slice(0, limit) }}.
{% elseif month == 4 %}
    {{ 'April'|trans|slice(0, limit) }}.
{% elseif month == 5 %}
    {{ 'May'|trans|slice(0, limit) }}.
{% elseif month == 6 %}
    {{ 'June'|trans|slice(0, limit) }}.
{% elseif month == 7 %}
    {{ 'July'|trans|slice(0, limit) }}.
{% elseif month == 8 %}
    {{ 'August'|trans|slice(0, limit) }}.
{% elseif month == 9 %}
    {{ 'September'|trans|slice(0, limit) }}.
{% elseif month == 10 %}
    {{ 'October'|trans|slice(0, limit) }}.
{% elseif month == 11 %}
    {{ 'November'|trans|slice(0, limit) }}.
{% elseif month == 12 %}
    {{ 'December'|trans|slice(0, limit) }}.
{% endif %}