{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<h3 class="title has-text-primary">Resetting</h3>
<p class="subtitle has-text-white">Please check your mails.</p>
<div class="box">
    <p>
    {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </p>
</div>
{% endblock %}
