{% trans_default_domain 'FOSUserBundle' %}

<h3 class="title has-text-primary">{{'Resetting'|trans}}</h3>
<p class="subtitle has-text-white">{{'Please enter your login to proceed.'|trans}}</p>
<div class="box">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="field">
            <div class="control">
                <label class="label" for="username">{{ 'resetting.request.username'|trans }}</label>
                <input type="text" id="username" name="username" class="input" required="required" />
            </div>
        </div>

        <input type="submit" id="_submit" name="_submit" class="button is-fullwidth is-primary" value="{{ 'resetting.request.submit'|trans }}" />
    </form>
</div>