{% extends 'hero.html.twig' %}

{% block title %}{{ 'Edit Skill Group'|trans }}{% endblock %}

{% block body %}
<div class="column is-6 is-offset-3 has-text-centered">
    <h2 class="title">{% if skillGroup.id %}{{ 'Edit Skill Group'|trans }} {% else %} {{ 'Create Skill Group'|trans }} {% endif %}</h2>

    <div class="box">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="button is-fullwidth is-primary">
            <span class="icon">
              <i class="far fa-save"></i>
            </span>
        </button>
        {{ form_end(form) }}
    </div>

    <p>
        <a href="{{ path('admin_skill_group_index') }}">
            {{ 'Back to list'|trans }}
        </a>
    </p>

</div>
{% endblock %}
