{% extends 'hero.html.twig' %}

{% block title %}{{ 'Skill Group index'|trans }}{% endblock %}

{% block body %}
    <div class="columns is-mobile is-multiline is-centered">
        {% for skillGroup in skillGroups %}
            <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
                <div class="card">
                    <div class="card-content">
                        <h2 class="title is-5">{{ skillGroup.name }}</h2>
                        <ul>
                            {% for skill in skillGroup.skills %}
                                <li>{{ skill.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('admin_skill_group_edit', {'id': skillGroup.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path('admin_skill_group_delete', {'id': skillGroup.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-trash-alt"></i>
                            </span>
                        </a>
                    </footer>
                </div>
                
            </div>
        {% endfor %}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
            <div class="card">
                <div class="card-content">
                    {{ 'Actions'|trans }}
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" href="{{ path('admin_skill_group_new') }}">
                        <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
