{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <h3 class="title has-text-primary">Register</h3>
    <p class="subtitle has-text-white">Register with success !</p>
    <div class="box">
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        {% if targetUrl %}
        <br><p><a href="{{ targetUrl }}" class="button is-fullwidth is-primary">{{ 'registration.back'|trans }}</a></p>
        {% endif %}
    </div>
{% endblock fos_user_content %}
