{% trans_default_domain 'FOSUserBundle' %}

<h3 class="title has-text-primary">Register</h3>
<p class="subtitle has-text-white">Please register to proceed.</p>
<div class="box">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <button class="button is-fullwidth is-primary" type="submit">
            <span>{{ 'registration.submit'|trans }}</span>
        </button>
    {{ form_end(form) }}
</div>

