<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<table cellspacing="0" width="470" cellpadding="0" border="0">
    <tr>
        <td style="padding: 0 12px 0 0;vertical-align: top;" valign="top" width="115">
            <img alt="" width="115"
                style="width:115px;moz-border-radius:0%;khtml-border-radius:0%;o-border-radius:0%;webkit-border-radius:0%;ms-border-radius:0%;border-radius:0%;"
                src="https://samuelbucher.ovh/images/samuelbucher.png" />
        </td>
        <td style="font-size:1em;padding:0 0 0 12px;vertical-align: top;border-left: 1px solid #3d85c6;" valign="top">
            <table cellspacing="0" cellpadding="0" border="0"
                style="line-height: 1.4;font-family:'Open Sans',Arial,Helvetica Neue,Helvetica,sans serif;font-size:80%;color: #000001;">
                <tr>
                    <td style="padding-bottom: 8px;">
                        <span
                            style="font: 600 1.3em 'Open Sans',Arial,Helvetica Neue,Helvetica,sans serif;color:#3d85c6;">Samuel
                            BUCHER</span> </td>
                </tr>
                <tr>
                    <td style="color:#000001;padding-bottom: 8px;">
                        <div style="font-family:'Open Sans',Arial,Helvetica Neue,Helvetica,sans serif;">Full stack web
                            developer</div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 8px 0 0 0;">
                        <div style="font-family:'Open Sans',Arial,Helvetica Neue,Helvetica,sans serif;"> <a
                                href="https://samuelbucher.ovh" style="color:#3d85c6;"
                                target="_blank">samuelbucher.ovh</a> </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 12px;">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td
                                    style="font-family:'Open Sans',Arial,Helvetica Neue,Helvetica,sans serif;padding: 0 5px 0 0;">
                                    <a href="https://github.com/samsamlebatteur" target="_blank"><img alt=""
                                            style="width:22px;" width="22"
                                            src="https://samuelbucher.ovh/images/github.png"></a>
                                </td>
                                <td
                                    style="font-family:'Open Sans',Arial,Helvetica Neue,Helvetica,sans serif;padding: 0 5px 0 0;">
                                    <a href="https://www.linkedin.com/in/samuelbucher/" target="_blank"><img alt=""
                                            style="width:22px;" width="22"
                                            src="https://samuelbucher.ovh/images/linkedin.png"></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>