{% extends 'hero.html.twig' %}

{% block body %}

    <div class="column is-4 is-offset-4 has-text-centered">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        <p>
            {#<a href="{{ path('fos_user_registration_register') }}" class="has-text-white">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a> &nbsp;·&nbsp;#}
            <a href="{{ path('fos_user_resetting_request') }}" class="has-text-white">{{ 'layout.forgot_password'|trans({}, 'FOSUserBundle') }}</a> &nbsp;·&nbsp;
            <a href="{{ path('fos_user_security_login') }}" class="has-text-white">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        </p>
    </div>

{% endblock %}