{% extends 'hero.html.twig' %}

{% block title %}{{ 'Edit Project Image'|trans }}{% endblock %}

{% block body %}
<div class="column is-6 is-offset-3 has-text-centered">
    <h2 class="title">{{ project.title }}</h2>
    <p class="subtitle">{% if project.id %}{{ 'Edit Project Link'|trans }} {% else %} {{ 'Create new Project Link'|trans }} {% endif %}</p>

    <div class="box">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="button is-fullwidth is-primary">
            <span class="icon">
              <i class="far fa-save"></i>
            </span>
        </button>
        {{ form_end(form) }}
    </div>

    <p>
        <a href="{{ path('admin_project_links', {'id': project.id }) }}">
            {{ 'Back to list'|trans }}
        </a>
    </p>

</div>
{% endblock %}
