{% extends 'hero.html.twig' %}

{% block title %}{{ project.title }} {{ 'Project Images'|trans }}{% endblock %}

{% block body %}
    <h2 class="title">{{ project.title }}</h2>
    <p class="subtitle">{{ 'Project Images'|trans }}</p>

    <div class="columns is-mobile is-multiline is-centered">
        {% for image in project.images %}
            <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-3by2">
                            <img src="{{ asset(image.file) }}" alt="{{ image.alternative }}">
                        </figure>
                    </div>

                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('admin_project_images_edit', {'project': project.id, 'image': image.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path('admin_project_image_delete', {'project': project.id, 'image': image.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-trash-alt"></i>
                            </span>
                        </a>
                    </footer>
                </div>
                <div class="card-content">
                    <h2 class="title is-5">{{ image.alternative }}</h2>
                </div>
            </div>
        {% endfor %}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
            <div class="card">
                <div class="card-content">
                    {{ 'Actions'|trans }}
                </div>

                <footer class="card-footer">
                    <a class="card-footer-item" href="{{ path('admin_project_images_new', {'id': project.id }) }}">
                        <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
    </div>

    <p>
        <a href="{{ path('admin_project_index') }}">
            {{ 'Back to list'|trans }}
        </a>
    </p>
{% endblock %}
