{% extends 'hero.html.twig' %}

{% block title %}{{ 'Project index'|trans }}{% endblock %}

{% block body %}
    <div class="columns is-mobile is-multiline is-centered">
        {% for project in projects %}
            <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
                <div class="card">
                    {% if project.images|length %}
                        {% set image = project.images[0] %}
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ asset(image.file) }}" alt="{{ image.alternative }}">
                            </figure>
                        </div>
                    {% else %}
                        <div class="card-content">
                            {{ 'No image'|trans }}
                        </div>
                    {% endif %}

                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('admin_project_edit', {'id': project.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path('admin_project_images', {'id': project.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-images"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path('admin_project_links', {'id': project.id}) }}">
                            <span class="icon is-small">
                              <i class="fas fa-link"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path('admin_project_delete', {'id': project.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-trash-alt"></i>
                            </span>
                        </a>
                    </footer>
                </div>
                <div class="card-content">
                    <h2 class="title is-5">{{ project.title }}</h2>
                    <p class="subtitle is-6">{{ project.subtitle }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
            <div class="card">
                <div class="card-content">
                    {{ 'Actions'|trans }}
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" href="{{ path('admin_project_new') }}">
                        <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
