{% extends 'hero.html.twig' %}

{% block title %}{{ project.title }} {{ 'Project links'|trans }}{% endblock %}

{% block body %}
    <h2 class="title">{{ project.title }}</h2>
    <p class="subtitle">{{ 'Project links'|trans }}</p>

    <div class="columns is-mobile is-multiline is-centered">
        {% for link in project.links %}
            <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
                <div class="card">
                    <div class="card-content is-flex is-centered">
                        <figure class="image is-32x32 is-flex">
                            <img src="{{ asset(link.icon) }}" alt="{{ link.name }}">
                        </figure>
                    </div>

                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('admin_project_links_edit', {'project': project.id, 'link': link.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path('admin_project_links_delete', {'project': project.id, 'link': link.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-trash-alt"></i>
                            </span>
                        </a>
                    </footer>
                </div>
                <div class="card-content">
                    <h2 class="title is-5">{{ link.name }}</h2>
                </div>
            </div>
        {% endfor %}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
            <div class="card">
                <div class="card-content">
                    {{ 'Actions'|trans }}
                </div>

                <footer class="card-footer">
                    <a class="card-footer-item" href="{{ path('admin_project_links_new', {'id': project.id }) }}">
                        <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
    </div>

    <p>
        <a href="{{ path('admin_project_index') }}">
            {{ 'Back to list'|trans }}
        </a>
    </p>
{% endblock %}
