<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ 'Samuel BUCHER'|trans }} {% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/mystyles.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    {% if app.environment == "prod" %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56556712-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-56556712-2', { 'anonymize_ip': true });
        </script>
    {% endif %}

    <script>
        // MODAL LISTENER
        $(function () {
            console.log('ready');

            $(".navbar-burger").on('click', function (event) {
                console.log("Nav burger");

                // Prevent default anchor click behavior
                event.preventDefault();

                if ($(this).hasClass('is-active')) {
                    $(this).removeClass('is-active');
                    $('.navbar-menu').removeClass('is-active');
                } else {
                    $(this).addClass('is-active');
                    $('.navbar-menu').addClass('is-active');
                }

            });

            // notifications

            $('.notification').find('.delete').click(function () {
                console.log('remove-notification');
                $(this).parent().remove();
            });

            $("a").on('click', function(event) {
                console.log('a clicked');


                if ($(this).hasClass('open-modal')) {
                    console.log('open-modal');

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    var modal = $(this.hash);

                    modal.addClass('is-active');

                    modal.find('.modal-background').click(function() {
                        console.log('close-modal');
                        modal.removeClass('is-active');
                    });

                    modal.find('.modal-close').click(function() {
                        console.log('close-modal');
                        modal.removeClass('is-active');
                    });

                } else if ($(this).hasClass('open-sidebar')) {
                    console.log('open-sidebar');

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    var sidebar = $('#sidebar');

                    sidebar.addClass('is-active');

                    sidebar.find('.delete').click(function() {
                        console.log('close-sidebar');
                        sidebar.removeClass('is-active');
                    });
                    
                } else if ($(this).hasClass('show-div')) {
                    console.log('show-div');

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    $('.hidden-div').each(function() {
                        console.log('hide all div');
                        $(this).addClass('is-hidden');
                    });

                    console.log('remove is-hidden');
                    var hash = this.hash;
                    $(hash).removeClass('is-hidden');


                    // update links
                    $('a.show-div').each(function() {
                        $(this).parent('li').removeClass('is-active');
                    });

                    $(this).parent('li').addClass('is-active');


                } else if (this.hash !== "") {
                    console.log('scrollTo');

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top - $('.navbar').height()
                    }, 800);
                }


            });

            $(window).scroll(function() {
                var scrollTop = $(this).scrollTop();
                if (scrollTop > 0) {
                    $("a[href$='#top']").show();
                } else {
                    $("a[href$='#top']").hide();
                }

            });

            $(window).scroll();
        });

    </script>
    {% block stylesheets %}{% endblock %}
</head>
<body class="has-navbar-fixed-top">
    <nav class="navbar is-info is-fixed-top">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ path('home') }}">
                    <span class="icon">
                        <i class="fas fa-terminal"></i>
                    </span>
                    &nbsp;
                    <span>samuelbucher</span>
                </a>
                <span class="navbar-item">
                </span>
                <span class="navbar-burger burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
            <div class="navbar-menu has-text-centered">

                <div class="navbar-start">
                    <a class="navbar-item {{ app.request.get('_route') in [ 'home' ] ? 'is-active' }}" href="{{ path('home') }}">
                        {{ 'Home'|trans }}
                    </a>
                    <a class="navbar-item {{ app.request.get('_route') in [ 'project_index', 'project_show' ] ? 'is-active' }}" href="{{ path('project_index') }}">
                        {{ 'Projects'|trans }}
                    </a>
                    <a class="navbar-item {{ app.request.get('_route') in [ 'contact' ] ? 'is-active' }}" href="{{ path('contact') }}">
                        {{ 'Contact'|trans }}
                    </a>
                </div>
                <div class="navbar-end">

                    <a class="navbar-item {{ app.request.locale == 'fr' ? 'is-active' : ''}}" hreflang="fr" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr' })) }}">
                        <span class="icon">
                            <i class="fas fa-globe-europe"></i>
                        </span>
                        <span>{{ 'FR'|trans }}</span>
                    </a>
                    <a class="navbar-item {{ app.request.locale == 'en' ? 'is-active' : ''}}" hreflang="en" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en' })) }}">
                        <span class="icon">
                            <i class="fas fa-globe-americas"></i>
                        </span>
                        <span>{{ 'EN'|trans }}</span>
                    </a>
                    
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a class="navbar-item {{ app.request.locale == 'de' ? 'is-active' : ''}}" hreflang="de" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de' })) }}">
                            <span class="icon">
                                <i class="fas fa-globe-europe"></i>
                            </span>
                            <span>{{ 'DE'|trans }}</span>
                        </a>
                    {% endif %}

                    <span class="navbar-item"></span>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {{ 'Welcome'| trans }} {{ app.user.username }}
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item {{ app.request.get('_route') in [ 'admin_project_index', 'admin_project_new', 'admin_project_edit' ] ? 'is-active' }}" href="{{ path('admin_project_index') }}">
                                    {{ 'Projects'|trans }}
                                </a>
                                <a class="navbar-item {{ app.request.get('_route') in [ 'admin_experience_index', 'admin_experience_new', 'admin_experience_edit' ] ? 'is-active' }}" href="{{ path('admin_experience_index') }}">
                                    {{ 'Work Experiences'|trans }}
                                </a>
                                <a class="navbar-item {{ app.request.get('_route') in [ 'admin_skill_group_index', 'admin_skill_group_new', 'admin_skill_group_edit' ] ? 'is-active' }}" href="{{ path('admin_skill_group_index') }}">
                                    {{ 'Skills Group'|trans }}
                                </a>
                                <a class="navbar-item {{ app.request.get('_route') in [ 'admin_skill_index', 'admin_skill_new', 'admin_skill_edit' ] ? 'is-active' }}" href="{{ path('admin_skill_index') }}">
                                    {{ 'Skills'|trans }}
                                </a>
                                <a class="navbar-item {{ app.request.get('_route') in [ 'admin_training_index', 'admin_training_new', 'admin_training_edit' ] ? 'is-active' }}" href="{{ path('admin_training_index') }}">
                                    {{ 'Training'|trans }}
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'Logout'|trans }}
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <span class="navbar-item">
                          <a class="button is-primary is-inverted" target="_blank" href="{{ path('resume') }}">
                            <span class="icon">
                              <i class="fas fa-file-pdf"></i>
                            </span>
                              <span>{{ 'CV'|trans }}</span>
                          </a>
                        </span>

                        <span class="navbar-item">
                          <a class="button is-primary is-inverted" href="https://github.com/sam-freeze" target="_blank">
                            <span class="icon">
                                <i class="fab fa-github"></i>
                            </span>
                              <span>{{ 'Github'|trans }}</span>
                          </a>
                        </span>

                        <span class="navbar-item">
                          <a class="button is-primary is-inverted" href="https://www.linkedin.com/in/samuelbucher/" target="_blank">
                            <span class="icon">
                              <i class="fab fa-linkedin"></i>
                            </span>
                              <span>{{ 'Linkedin'|trans }}</span>
                          </a>
                        </span>
                    {% endif %}

                </div>
            </div>
        </div>
    </nav>

    {% block base %}{% endblock %}

    <div class="notifications-fixed">
        {# pass a string argument to get only the messages of that type #}
        {% for message in app.flashes('notice') %}
            <div class="notification is-success">
                <button class="delete"></button>
                {{ message }}
            </div>
        {% endfor %}

        {# pass an array argument to get the messages of those types  #}
        {% for message in app.flashes('error') %}
            <div class="notification is-danger">
                <button class="delete"></button>
                {{ message }}
            </div>
        {% endfor %}

        {# pass an array argument to get the messages of those types  #}
        {% for message in app.flashes('warning') %}
            <div class="notification is-warning">
                <button class="delete"></button>
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="actions-fixed is-right">
        <a class="button is-circle is-large is-primary" href="#top">
            <span class="icon">
                <i class="fas fa-angle-up"></i>
            </span>
        </a>
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>
