<footer class="footer">
    <div class="container has-text-centered">
        <p>
            {{ 'This website was handcrafted with'|trans }}
            <span class="icon has-text-danger">
                <i class="fas fa-heart"></i>
            </span>
            <br>2019 {% if "now"|date('Y') > 2019 %} - {{ "now"|date('Y') }} {% endif %}
        </p>
        <br>
        <p>
            <a href="https://bulma.io">
                <img src="{{ asset('images/made-with-bulma--semiblack.png') }}" alt="Made with Bulma" width="128" height="24">
            </a>
        </p>
    </div>
</footer>