{% extends 'base.html.twig' %}

{% block base %}
    <section class="hero {{ app.request.get('_route') in [ 'home' ] ? 'background is-fullheight' : 'is-fullheight-with-navbar' }}" id="top">

        <div class="hero-head has-padding-top-20">
            <div class="container has-text-centered">
                <h2 class="title">{% block herotitle %}{% endblock %}</h2>
                <h3 class="subtitle">{% block herosubtitle %}{% endblock %}</h3>
            </div>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block body %}{% endblock %}
            </div>
        </div>

        <div class="hero-footer">
            {% include 'footer.html.twig' %}
        </div>

    </section>
{% endblock %}