{% extends 'hero.html.twig' %}

{% block title %}{% if item.id %}{{ 'Edit'|trans }} {% else %} {{ 'Create'|trans }} {% endif %} {{ title }} {% endblock %}

{% block body %}
<div class="column is-6 is-offset-3 has-text-centered">
    <h2 class="title">{% if item.id %}{{ 'Edit'|trans }} {% else %} {{ 'Create'|trans }} {% endif %} {{ title }}</h2>

    <div class="box">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="button is-fullwidth is-primary">
            <span class="icon">
              <i class="far fa-save"></i>
            </span>
        </button>
        {{ form_end(form) }}
    </div>

    <p>
        <a href="{{ path("#{route}index") }}">
            {{ 'Back to list'|trans }}
        </a>
    </p>

</div>
{% endblock %}
