{% extends 'hero.html.twig' %}

{% block title %}{{ 'List'|trans }} {{ title }}{% endblock %}

{% block body %}
    <div class="columns is-mobile is-multiline is-centered">
        {% for item in items %}
            <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
                <div class="card">
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path("#{route}edit", {'id': item.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path("#{route}delete", {'id': item.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-trash-alt"></i>
                            </span>
                        </a>
                    </footer>
                </div>
                <div class="card-content">
                    <h2 class="title is-5">{{ item.title|nl2br }}</h2>
                    <p class="subtitle is-6">{{ item.subTitle|nl2br }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
            <div class="card">
                <div class="card-content">
                    {{ 'Actions'|trans }}
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" href="{{ path("#{route}new") }}">
                        <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
