{% extends 'hero.html.twig' %}

{% block title %}{{ 'Training index'|trans }}{% endblock %}

{% block body %}
    <div class="columns is-mobile is-multiline is-centered">
        {% for training in trainings %}
            <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
                <div class="card">
                    <footer class="card-footer">
                        <a class="card-footer-item" href="{{ path('admin_training_edit', {'id': training.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-edit"></i>
                            </span>
                        </a>
                        <a class="card-footer-item" href="{{ path('admin_training_delete', {'id': training.id}) }}">
                            <span class="icon is-small">
                              <i class="far fa-trash-alt"></i>
                            </span>
                        </a>
                    </footer>
                </div>
                <div class="card-content">
                    <h2 class="title is-5">{{ training.name }}</h2>
                    <p class="subtitle is-6">{{ training.school }}</p>
                </div>
            </div>
        {% endfor %}
        <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-fullhd">
            <div class="card">
                <div class="card-content">
                    {{ 'Actions'|trans }}
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item" href="{{ path('admin_training_new') }}">
                        <span class="icon is-small">
                          <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </footer>
            </div>
        </div>
    </div>
{% endblock %}
