{% extends 'hero.html.twig' %}

{% block title %}{{ 'Projects, web applications and websites'|trans }}{% endblock %}
{% block description %}{{ 'Discover projects, web applications and websites I worked on'|trans }}{% endblock %}
{% block herotitle %}{{ 'Projects'|trans }}{% endblock %}
{% block herosubtitle %}{{ 'Discover projects, web applications and websites I worked on'|trans }}{% endblock %}

{% block body %}
    <div class="columns is-mobile is-multiline is-centered">
        {% for project in projects %}
            <div class="column is-6-mobile is-4-tablet is-4-desktop is-4-fullhd">
                <a href="{{ path('project_show', {'project': project.id}) }}">
                    {% if project.images|length %}
                        <div class="card">
                            {% set image = project.images[0] %}
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ asset(image.file) }}" alt="{{ image.alternative }} - {{ project.title }}">
                                </figure>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        <h2 class="title is-5">{{ project.title }}</h2>
                        <p class="subtitle is-6">{{ project.subtitle }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
