{% extends 'hero.html.twig' %}

{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.subtitle }}{% endblock %}
{% block herotitle %}{{ project.title }}{% endblock %}
{% block herosubtitle %}{{ project.subtitle }}{% endblock %}

{% block body %}

    <div class="columns is-mobile is-multiline is-centered">

        <div class="column is-12-mobile is-7-tablet is-8-desktop is-8-fullhd">
            <div class="sticky">
                {% for image in project.images %}
                    {% if image.video %}
                        <video poster="{{ asset(image.file) }}" src="{{ asset(image.video) }}" alt="{{ image.alternative }} - {{ project.title }}" controls ></video>
                    {% else %}
                        <div class="card">
                            <div class="card-image">
                                <figure class="image">
                                    <img src="{{ asset(image.file) }}" alt="{{ image.alternative }} - {{ project.title }}" >
                                </figure>
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-content">
                        {{ image.alternative }}
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>

        <div class="column is-12-mobile is-5-tablet is-4-desktop is-4-fullhd">
            <div class="sticky">
                <h3 class="title is-5 has-text-left">{{ 'About this project'|trans }}</h3>
                <div class="content has-text-justified">
                    {{ project.description|nl2br }}
                </div>
                <h3 class="title is-5 has-text-left">{{ 'Skills'|trans }}</h3>
                <div class="content is-italic has-text-justified">
                    {{ project.skills|nl2br }}
                </div>

                {% if project.links|length %}
                    <div class="field is-grouped is-grouped-right">
                        {% for link in project.links %}
                            <p class="control">
                                <a class="image is-32x32" href="{{ link.url }}" target="_blank">
                                    <img src="{{ asset(link.icon) }}" alt="{{ link.name }}">
                                </a>
                            </p>
                        {% endfor %}
                    </div>
                    <br/>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}